body {
  letter-spacing: -0.15em;
  font-family: 'Libre Baskerville', serif;
}

h1 {
  color: black;
  font-weight: bolder;
  font-size: 50px
}

.title {
  border: 3px solid black;
  z-index: 1;
  color: whitesmoke;
  font-size: 50px;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


}

p {
  font-size: 20px;
  font-family:
  color: white;
}
